@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bodil-50: oklch(98.26% 0.017 201.4 / 70%);
    --bodil-100: oklch(95.66% 0.043 201.79 / 70%);
    --bodil-200: oklch(91.73% 0.074 202.27 / 70%);
    --bodil-300: oklch(86.5% 0.112 204.56 / 70%);
  }
}

@layer components {
  .card {
    @apply border border-bodil-200 bg-gradient-to-r from-bodil-50 to-bodil-200 rounded-md p-4 mb-2 flex-1;
  }

  .button {
    @apply text-white bg-bodil-700 transition-all hover:bg-bodil-800 focus:ring-4 focus:ring-bodil-300 font-medium rounded-md text-sm px-5 py-2.5 me-2 mb-2 dark:bg-bodil-600 dark:hover:bg-bodil-700 focus:outline-none dark:focus:ring-bodil-800 shadow-sm
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bodil-50);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.font-custom {
  font-family: 'Dancing Script', serif;
}

$base-color: #ddd;
$shine-color: #e8e8e8;
$animation-duration: 1s;

@mixin background-gradient {
  background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 120px);
  background-size: 600px;
}

.statistic-item {
  position: relative;

  &::after {
    @apply rounded-md;
    @include background-gradient;

    content: "";
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: shine-lines $animation-duration infinite linear;
  }
}

.cls-loading {
  &::after {
    opacity: 1;
  }
}

@keyframes shine-lines {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: -250%;
  }
}